name: Go Build Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Çek (Checkout)
        uses: actions/checkout@v4

      - name: Go Kurulumu (Setup Go)
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Kütüphaneleri İndir
        run: go mod download

      - name: Derlemeyi Dene (Build)
        run: go build -v ./...
